.container {
	margin: 20px;
	padding: 20px;
	width: 65vw;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid gold;
}

h1 {
	font-size: 2.2rem;
	font-weight: 600;
}

h2 {
	font-size: 1.8rem;
}

input {
	height: 40px;
	width: 160px;
}

.btn-wrap {
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.btn-wrap > button {
	height: 60px;
	width: 60px;
	font-size: 1.5rem;
	font-weight: 600;
	margin: 1rem;
}

.image {
	width: auto;
	height: 500px;
}

@media screen and (max-width: 900px) {
	.container {
		width: 70vw;
	}
	.btn-wrap {
		width: 80%;
	}
	.image {
		transform: scale(0.5, 0.5);
	}
	h2 {
		font-size: 1.2rem;
	}
}